body {
  /* background-color: gray; */
  background-image: url('../IMG/PicsArt_06-12-08.25.21.jpg');

  position: relative;
  height: 100%;
  background-size: cover;
}

.tombol_orange {
  background-color: #ff7a00;
}

.text_orange {
  color: #ff7a00;
}

.bg-hitam {
  background-color: black;
}

.valign {
  margin-top: 15%;
}

.sudut {
  border-radius: 10px;
}

.kotak {
  border: 1;
  background-color: grey;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
footer {
  background-color: black;
  height: 50px;
}
